<table class="table table-bordered table-striped text-wrap">
    <thead>
      <tr class="align-middle text-center small">
        <th role="button" (click)="sortData('date')">
            Date {{ sortSign("date") }}
          </th>
        <th role="button" (click)="sortData('title')">
          Title {{ sortSign("title") }}
        </th>
        <th role="button" (click)="sortData('venue')">Venue {{ sortSign("venue") }}</th>
        <th
          role="button"
          (click)="sortData('performer')"
          class="d-none d-lg-table-cell"
        >
          Performers {{ sortSign("performer") }}
        </th>
        <th
          role="button"
          (click)="sortData('price')"
          class="d-none d-lg-table-cell"
        >
          Price {{ sortSign("price") }}
        </th>
        <th *ngIf="actionsTemplate">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row) {
        <tr class="align-middle" (click)="onEventClicked(row)">
            <td>{{ formatDate(row.date) || "TBA" }}</td>
            <td>{{ row.title || "TBA" }}</td>
            <td>{{ row.venue?.name || "TBA"}}</td>
            <td class="d-none d-lg-table-cell">
              <div class="performers-list">
                <span *ngFor="let performer of row.performers; let i = index">
                  {{ performer?.name || "TBA" }} <span *ngIf="i < row.performers.length - 1">, </span>
                </span>
              </div>
            </td>
            <td class="d-none d-lg-table-cell">{{ row.price || "TBA"}}€</td>
            <td *ngIf="actionsTemplate" class="d-flex justify-content-center align-content-center d-sm-table-cell">
              <ng-container *ngTemplateOutlet="actionsTemplate; context: {$implicit: row}"></ng-container>
            </td>
        </tr>
      }
    </tbody>
  </table>
  