<footer class="d-flex justify-content-around bg-body-secondary gap-2 w-100 px-2 align-items-center footer">
    <div>
        &copy; Evangelos Petsalis. All rights reserved, 2024. 
    </div>
    <div class="d-flex flex-column w-25 ">
        <a routerLink="contact" class="text-decoration-none footer-link">Contact us</a>
        <a routerLink="terms" class="text-decoration-none footer-link">Terms and Conditions</a>
        <a routerLink="faq" class="text-decoration-none footer-link">FAQ</a>
    </div>
    <div class="d-flex justify-content-evenly gap-2 ">
      <span>Follow us: </span>
      <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.linkedin.com/in/evangelos-petsalis/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
</footer>
