<div class="container col-4 border border-2 registration-form rounded-3 p-3 my-4 shadow">
    <h4 class="text-center">Registration Page</h4>

    @if (registrationStatus.message === 'Not attempted yet') {
    
        <form [formGroup]="form" class="d-flex flex-column justify-content-center mt-4 col-12 col-md-10 col-xl-6 mx-auto" action="post">
            <mat-form-field>
                <mat-label>Username </mat-label>

                <input matInput type="text" formControlName= "username" (blur)="check_duplicate_username()"/>
                <mat-error *ngIf="form.get('username').invalid && form.get('username').touched">
                    <span *ngIf="form.get('username').hasError('takenUsername')">This username is already taken</span>
                    <span *ngIf="form.get('username').hasError('required')">Username is required</span>
                </mat-error>

            </mat-form-field>
    
            <mat-form-field>
                <mat-label> Password </mat-label>
                <input matInput type="password" formControlName= "password" />
                <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
                    Invalid password
                </mat-error>

            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Confirm Password </mat-label>
                <input matInput type="password" formControlName= "confirmPassword" />

                <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span *ngIf="form.get('confirmPassword').hasError('passwordMismatch')">Passwords do not match</span>
                    <span *ngIf="form.get('confirmPassword').hasError('required')">Password is missing or invalid</span>
                </mat-error>

            </mat-form-field>
    
            <mat-form-field>
                <mat-label> Email </mat-label>
                <input matInput type="email" formControlName= "email" (blur)="check_duplicate_email()"/>
                <mat-error *ngIf="form.get('email')?.invalid && form.get('email').touched">
                    <span *ngIf="form.get('email')?.hasError('duplicateEmail')">Email is already registered</span>
                    <span *ngIf="form.get('email')?.hasError('required')">Email is missing or invalid</span>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label> First name </mat-label>
                <input matInput type="text" formControlName= "firstName" />

                <mat-error *ngIf="form.get('firstName')?.invalid && form.get('firstName').touched">
                    First name is required
                </mat-error>
            </mat-form-field>
        
            <mat-form-field>

                <mat-label> Last name </mat-label>
                <input matInput type="text" formControlName= "lastName" />

                <mat-error *ngIf="form.get('lastName')?.invalid && form.get('lastName').touched">
                    Last name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>

                <mat-label> Phone Number </mat-label>
                <input matInput type="text" formControlName= "phoneNumber" />
                <mat-error *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber').touched">
                    Phone number is required
                </mat-error>
            </mat-form-field>
        
            <button mat-flat-button color="primary" class="my-2" [disabled]="form.invalid" (click)="onSubmit(form.value)" >Register</button>
        </form>
    
    } @else {
        @if (registrationStatus.success) {
            <div class="alert alert-success mt-2 d-flex flex-column align-items-center">
                <strong>Success:</strong> {{ registrationStatus.message }}
                <a role="button " [routerLink]="['/api/users/login']">Go to the login page</a>
            </div>
        } @else { 
            <div class="alert alert-danger mt-2">
                <strong>Error:</strong> {{ registrationStatus.message }}
            </div>
        }
    }
</div>

