.navbar{
  background: linear-gradient(135deg, #ADD8E6, #87CEEB, #4682B4);
  color: #fff;
  padding: 10px 20px;
}

.navbar a{
  color: #fff;
}

.navbar a:hover{
  color: #b8e8f8;
}

.dropdown-menu{
    background-color: #87CEEB ;
}
