.navbar{
  background: linear-gradient(135deg, #4e93ca, #3c5d9b, #2e3e74);
  color: #fff;
  padding: 10px 20px;
}

.navbar a{
  color: #fff;
}

.navbar a:hover{
  color: #b8e8f8;
}

.dropdown-menu{
    background-color: #5c6d8d ;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
