<div class="d-flex justify-content-center">
    <div class="w-50 mt-3 me-3">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success bg-primary text-white" type="submit">Search</button>
        </form>
    </div>
    <div>
        <select id="select" class="form-select form-control mt-3">
          <option>Search for...</option>
          <option>Event</option>
          <option>Venue</option>
          <option>Performer</option>
          <option>Date</option>
        </select>
      </div>
</div>
