<div class="container col-8 border border-2 rounded-5 my-4">
    <h3 class="text-center my-4">FAQ</h3>
    <div class="container-fluid w-75 mt-3 mb-5 d-flex flex-column">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What technology was used to build the frontend of this web app?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  The website's appearance as seen here was built using HTML and TypeScript implemented through the Angular framework.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What technology was used to build the backend of this web app?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The backend processes used to provide this website with data were build using the C# programming language, over the ASP.NET Core framework.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What database is used to store the data for this web app?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    A relational database was used, managed over the Microsoft SQL Server.
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>