<div class="d-flex justify-content-center">
    <div class="w-100 mt-3 me-3">
      <app-search-bar (searchCategoryChange)="onSearchCategoryChange($event)" (searchQueryChange)="onSearchQueryChange($event)"></app-search-bar>
    </div>
  </div>
  
  <div *ngIf="visibleEvents.length > 0">
    <div class="d-flex flex-row justify-content-evenly flex-wrap my-3">
      <div *ngFor="let event of visibleEvents" class="gap-2">
        <app-event-card [event]="event" [currentUser]="currentUser"></app-event-card>
      </div>
    </div>
  
    <div class="text-center my-3" *ngIf="visibleEvents.length < filteredEvents.length">
      <button (click)="loadTenMore()" class="btn btn-primary">More Events</button>
    </div>
  </div>
  
  <div class="text-center my-3" *ngIf="visibleEvents.length === 0">
    <p>No events found</p>
  </div>