@if (!event) {
    <div class="alert alert-danger text-center">No event details!</div>
  } @else {
    <table class="table table-bordered container" style="height: 15rem; width: 15rem;">
        <caption class="caption-top fw-bold bg-primary text-light text-center">
            Event Details
        </caption>
        <tr>
            <td class="fw-semibold text-end">Title</td>
            <td class="ps-2"> {{ event.title || 'TBA' }}
            </td>
        </tr>
        <tr>
            <td class="fw-semibold text-end">Date</td>
            <td class="ps-2">{{ event.date || 'TBA'}}</td>
        </tr>
        <tr>
            <td class="fw-semibold text-end">Venue</td>
            <td class="ps-2">{{event.venue?.name || 'TBA'}}</td>
        </tr>
        <tr>
            <td class="fw-semibold text-end">Performers</td>
            <td class="ps-2">
                <ul class="list-unstyled">
                    <li *ngFor="let performer of event.performers; let i = index">
                        {{ performer.name || 'TBA'}}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="fw-semibold text-end">About</td>
            <td class="ps-2">{{ event.description || 'TBA'}}</td>
        </tr>
    </table>
}
  