<div class="d-flex flex-column mt-3">
    <div class="col-5 mx-auto py-1">
        <h4 class="text-center">Welcome, {{user()?.username}}!</h4>
        <h3 class="text-center">Select an entity to edit:</h3>
    </div>
    <div class="d-flex flex-column gap-3 col-3 my-3 mx-auto">
        <button class="btn btn-primary" routerLink="users">Users</button>
        <button class="btn btn-primary" routerLink="events">Events</button>
        <button class="btn btn-primary" routerLink="venues">Venues</button>
    </div>
</div>