<button class="btn btn-secondary mt-4 col-1 ms-3" [routerLink]="['/api/admin/events']">&lt; Back</button>
<div class="container col-8 my-4 submission-form">
    <h3 class="text-center my-4">Event insert form</h3>
    <div class="container-fluid w-75 mt-3 d-flex flex-column">  
      <form [formGroup]="form" class="d-flex flex-column" action="post">
        <mat-form-field>
          <mat-label>Event title</mat-label>
          <input matInput type="text" formControlName="title" />
          <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">
            An event title is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" />
          <mat-error *ngIf="form.get('description').invalid && form.get('description').touched">
            Description is required
          </mat-error>
        </mat-form-field>
  
        <mat-checkbox class="mb-3" (change)="toggleNewVenue()">
          I want to add a new venue
        </mat-checkbox>
        
        <mat-form-field *ngIf="!showNewVenueFields" aria-expanded="true">
          <mat-label>Venue</mat-label>
          <mat-select formControlName="venue" [ariaRequired]="!showNewVenueFields">
            <mat-option *ngFor="let venue of venues" [value]="venue.venueId">{{ venue.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('venue').invalid && form.get('venue').touched">
            A venue is required
          </mat-error>
        </mat-form-field>
  
        <div *ngIf="showNewVenueFields" class="border border-2 border-dark-subtle px-4 pt-4 mb-4 rounded-2" aria-expanded="true">
          <h5 class="text-center">Please fill in the information for your venue:</h5>
          <div class="d-flex flex-column  align-items-center mt-3 overflow-x-auto">
            <div class="d-flex flex-row justify-content-evenly">
                <mat-form-field class="mb-3 me-3 col-4 col-xl-6">
                    <mat-label>Venue name</mat-label>
                    <input matInput type="text" formControlName="newVenueName" (blur)="checkDuplicateVenue()"/>
                    <mat-error *ngIf="form.get('newVenueName').invalid && form.get('newVenueName').touched">
                      <span *ngIf="form.get('newVenueName').hasError('required')">A venue name is required</span>
                      <span *ngIf="form.get('newVenueName').hasError('duplicateVenue')">Venue already registered</span>
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="mb-3 col-4 col-xl-6">
                    <mat-label>Street</mat-label>
                    <input matInput type="text" formControlName="newVenueStreet" />
                    <mat-error *ngIf="form.get('newVenueStreet').invalid && form.get('newVenueStreet').touched">
                      A street name is required
                    </mat-error>
                  </mat-form-field>
              </div>
    
              <div class="d-flex flex-row justify-content-evenly">
                <mat-form-field class="mb-3 me-3 col-4 col-xl-6">
                    <mat-label>Street no</mat-label>
                    <input matInput type="text" formControlName="newVenueStreetNo" />
                    <mat-error *ngIf="form.get('newVenueStreetNo').invalid && form.get('newVenueStreetNo').touched">
                      A street number is required
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="mb-3 col-4 col-xl-6">
                    <mat-label>ZIP Code</mat-label>
                    <input matInput type="text" formControlName="newVenueZipCode" />
                    <mat-error *ngIf="form.get('newVenueZipCode').invalid && form.get('newVenueZipCode').touched">
                      The ZIP code is required
                    </mat-error>
                  </mat-form-field>
              </div>
              <mat-form-field class="mb-3 col-4 col-xl-6">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="newVenueCity" />
                <mat-error *ngIf="form.get('newVenueCity').invalid && form.get('newVenueCity').touched">
                  The city is required
                </mat-error>
              </mat-form-field>
          </div>
        </div>
  
        <div formArrayName="performers" *ngFor="let performer of performers.controls; let i = index" class="d-flex align-items-center">
          <mat-form-field [formGroupName]="i" class="flex-fill">
            <mat-label>Performer</mat-label>
            <input matInput type="text" formControlName="name"/>
            <mat-error *ngIf="performer.get('name').invalid && performer.get('name').touched">
              A performer's name is required
            </mat-error>
          </mat-form-field>
  
          <button mat-icon-button class="h-auto" color="warn" (click)="removePerformer(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
  
        <button mat-raised-button color="primary" type="button" (click)="addPerformer()">I want to add more performers</button>
  
        <mat-form-field class="mt-4">
          <mat-label>Ticket price(€)</mat-label>
          <input matInput type="text" formControlName="price" />
          <mat-error *ngIf="form.get('price').invalid && form.get('price').touched">
            A ticket price is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Event date</mat-label>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('date').invalid && form.get('date').touched">
            An event date is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Event category</mat-label>
          <mat-select formControlName="category">
            <mat-option value="" disabled>Select category</mat-option>
            <mat-option value="Music">Music</mat-option>
            <mat-option value="Cinema">Cinema</mat-option>
            <mat-option value="Theater">Theater</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('category').invalid && form.get('category').touched">
            An event category is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Upload File</mat-label>
          <input matInput type="text" placeholder="Choose a file" [value]="selectedFile ? selectedFile.name : '' " readonly>
          <button mat-icon-button matSuffix (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </mat-form-field>
        <input type="file" #fileInput (change)="onFileSelect($event)" hidden>
  
        <div class="d-md-flex justify-content-lg-evenly mt-2 mb-4">
          <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </div>
        <div *ngIf="submissionStatus.success" class="alert alert-success text-center">
          <span>Event insertion successful</span>
        </div>
      </form>
    </div>
  </div>