<div class="card text-bg-dark">
    <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg" class="card-imgd-block w-100 rounded-2" height="350px" width="500px" alt="pic3">
    <div class="carousel-caption d-none d-md-block">
        <h4 class="card-title"> {{event.title}}</h4>
        <div class="d-flex justify-content-between">
        <p class="card-text"><small>{{ formatDate(event.date) }}</small></p>
        <p class="card-text"><small>{{event.venue.name}}</small></p>
        </div>
    </div>
</div>