<div class="m-3 container d-flex flex-column">
  <h2 class="text-center">My Events</h2>
  <div class="container d-flex flex-row">
    <div class="mt-lg-3 col-12 d-flex flex-column justify-content-between me-2">
      <app-events-datatable [data]="myEvents" [actionsTemplate]="actionsTemplate"></app-events-datatable>
    </div>
  </div>
</div>

  <ng-template #actionsTemplate let-event>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary me-2" (click)="editEvent(event)">Edit</button>
      <button class="btn btn-danger" (click)="deleteEvent(event.eventId)">Delete</button>
    </div>
  </ng-template>

<div *ngIf="isEditing">
  <h2>Edit Event</h2>
  <!-- <form [formGroup]="editForm" (ngSubmit)="saveEvent()">
    <div>
      <label for="title">Name</label>
      <input id="title" formControlName="title">
    </div>
    <div>
      <label for="description">Description</label>
      <input id="description" formControlName="description">
    </div>
    <div>
      <label for="date">Date</label>
      <input id="date" formControlName="date" type="date">
    </div>
    <div>
      <label for="venueName">Venue</label>
      <input id="venueName" formControlName="venueName">
    </div>
    <div>
      <label for="performers">Performers</label>
      <input id="performers" formControlName="performers">
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" formControlName="price">
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="isEditing = false">Cancel</button>
  </form> -->
  
</div>