<div class="my-3 container d-flex flex-column">
  <h2 class="text-center">My Events</h2>
  <div class="container d-flex flex-row">
    <div class="mt-lg-3 col-12 d-flex flex-column justify-content-between me-2 container">
      <app-events-datatable [data]="myEvents" [actionsTemplate]="actionsTemplate"></app-events-datatable>
    </div>
  </div>
</div>

  <ng-template #actionsTemplate let-event>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary me-2" (click)="editEvent(event)">Edit</button>
      <button class="btn btn-danger" (click)="deleteEvent(event.eventId)">Delete</button>
    </div>
  </ng-template>

<div *ngIf="isEditing" class="d-flex flex-column align-items-center border border-2 border-black shadow rounded-2 col-11 mb-4">
  <h2 class="text-center my-3">Edit Event</h2>

  <form [formGroup]="editForm" (ngSubmit)="saveEvent()" class="d-flex flex-column col-11" action="patch" [@slideInOut]="'in'">
      <mat-form-field >
        <mat-label>Event title</mat-label>
        <input matInput type="text" formControlName="title" />
        <mat-error *ngIf="editForm.get('title').invalid && editForm.get('title').touched">
          An event title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
        <mat-error *ngIf="editForm.get('description').invalid && editForm.get('description').touched">
          Description is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
          <mat-label>Venue name</mat-label>
          <input matInput type="text" formControlName="venueName" (blur)="checkDuplicateVenue()"/>
          <mat-error *ngIf="editForm.get('venueName').invalid && editForm.get('venueName').touched">
            <span *ngIf="editForm.get('venueName').hasError('required')">A venue name is required</span>
            <span *ngIf="editForm.get('venueName').hasError('duplicateVenue')">Venue already registered</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput type="text" formControlName="venueStreet" />
          <mat-error *ngIf="editForm.get('venueStreet').invalid && editForm.get('venueStreet').touched">
            A street name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Street no</mat-label>
            <input matInput type="text" formControlName="venueStreetNumber" />
            <mat-error *ngIf="editForm.get('venueStreetNumber').invalid && editForm.get('venueStreetNumber').touched">
              A street number is required
            </mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>ZIP Code</mat-label>
            <input matInput type="text" formControlName="venueZipCode" />
            <mat-error *ngIf="editForm.get('venueZipCode').invalid && editForm.get('venueZipCode').touched">
              The ZIP code is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="venueCity" />
            <mat-error *ngIf="editForm.get('venueCity').invalid && editForm.get('venueCity').touched">
              The city is required
            </mat-error>
          </mat-form-field>

      <div formArrayName="performers" *ngFor="let performer of performers.controls; let i = index" class="d-flex align-items-center">
        <mat-form-field [formGroupName]="i" class="flex-fill">
          <mat-label>Performer</mat-label>
          <input matInput type="text" formControlName="name"/>
          <mat-error *ngIf="performer.get('name').invalid && performer.get('name').touched">
            A performer's name is required
          </mat-error>
        </mat-form-field>

        <button mat-icon-button class="h-auto" color="warn" (click)="removePerformer(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button mat-raised-button color="primary" type="button" class="mb-3" (click)="addPerformer()">I want to add more performers</button>

      <mat-form-field>
        <mat-label>Ticket price</mat-label>
        <input matInput type="text" formControlName="price" />
        <mat-error *ngIf="editForm.get('price').invalid && editForm.get('price').touched">
          A ticket price is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Event date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="editForm.get('date').invalid && editForm.get('date').touched">
          An event date is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Event category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="" disabled>Select category</mat-option>
          <mat-option value="Music">Music</mat-option>
          <mat-option value="Cinema">Cinema</mat-option>
          <mat-option value="Theater">Theater</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.get('category').invalid && editForm.get('category').touched">
          An event category is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Upload File</mat-label>
        <input matInput type="text" placeholder="Choose a file" [value]="selectedFile ? selectedFile.name : '' " readonly>
        <button mat-icon-button matSuffix (click)="openFileInput($event)">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-form-field>
      <input type="file" #fileInput (change)="onFileSelect($event)" hidden>

      <div class="d-md-flex justify-content-lg-evenly mt-2 mb-4">
        <button class="btn btn-primary me-2" type="submit">Save</button>
        <button class="btn btn-danger" type="button"  (click)="isEditing = false"> Cancel</button>
      </div>
    </form>
</div>