<div class="carousel-wrapper">
    <div id="carouselExample" class="carousel slide w-75 mx-auto pt-2">
        <div class="carousel-inner">
          <div *ngFor="let event of events; let i = index" [class.active]="i === 0" class="carousel-item">
              <app-event-slide [event]="event"></app-event-slide>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>