<div class="container col-8 border border-2 rounded-5 my-4">
        <h3 class="text-center my-4">Terms and Conditions</h3>
        <div class="container-fluid w-75 my-3 d-flex flex-column">
        <h5 class="mb-4">Introduction</h5>
        <p>These Terms and Conditions ("Terms") govern the use of our website, application, or services (collectively, the "Services") provided by Evangelos Petsalis. By accessing or using our Services, you acknowledge that you have read, understood, and agree to be bound by these Terms.</p>
        <h5 class="mb-4">Use of Services</h5>
        <p>You must use our Services for lawful purposes only. You are responsible for ensuring that your use of the Services complies with all applicable laws, regulations, and guidelines. You may not use our Services to harm, harass, or discriminate against others.</p>

        <h5 class="mb-4">Intellectual Property</h5>
        <p>All intellectual property rights in the Services, including copyright, trademark rights, and all other proprietary rights are owned by Evangelos Petsalis. You may not reproduce, distribute, or display any content from the Services without our prior written consent.</p>

        <h5 class="mb-4">Term and Termination</h5>
        <p>Your use of our Services is subject to termination by either party upon written notice to the other. We reserve the right to terminate or suspend your access to the Services at any time without notice.</p>
        </div>
</div>
