<div class="d-flex flex-column align-items-center rounded-3 py-3 mt-5 mb-3 border border-2 col-4 container login-form shadow">
  <h3 class="text-center my-4">User Login</h3>

    <form [formGroup]="form" class="d-flex flex-column" action="post">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="form.get('username').invalid && form.get('username').touched">
          A valid username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
          A valid password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="bg-primary text-white" (click)="onSubmit()">Log in</button>
    </form>
    <div class="mb-3 mt-4">
      <span>Not a user? Register </span><a role="button" routerLink='../register'>here</a><span>!</span>
    </div>
</div>